/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By Lisarko8077
 */

* {
  margin:0;
  padding:0;
}

html, body {
  color: #000000;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

h1 {
  margin: 60px 0;
  font-size: 3rem;
  color: #ec0026;
}

h3 {
  color: #ec0026;
}

i.material-icons {
  width:100%;
  color: #059a3b;
}

nav {
  background-color: #ffffff;
  height: 130px;
  line-height: 130px;
  box-shadow: 0 2px 2px 0 rgba(5, 154, 59, 0.55);
}

nav .nav-wrapper {
  width:90%;
  margin: 0 auto;
}

.nav-wrapper a, nav .nav-wrapper ul li a, .sidenav li > a {
  color: #ec0026;
}

nav .nav-wrapper ul li a, .sidenav li > a {
  font-size: 1.5rem;
  font-weight: 700;
}

nav .nav-wrapper ul li:hover a {
  background-color: #646464;
  color: #ffffff;
}

nav .brand-logo {
  width:100%;
}

.brand-logo img {
  vertical-align:middle;
}

#video-box {
  padding-top: 40px;
  padding-bottom: 40px;
}


#video-box .video-wrap {
  width: 60%;
  margin: 30px auto;

  padding: 10px;
}

#video-box .about-content {
  width: 60%;
  margin: 30px auto;
  font-size: 1.2em;
  border-top: 1px solid #e3e3e3;
}

#video-box div video {
  width:100%;
}

#carousel {
  padding: 40px 0;
  border-top: 2px solid #059a3b;
}

#carousel h1 {
  margin:0;
}

#servizi {
  background-color: #e3e3e3;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.card.col.m4.s12 {
  padding: 20px 10px;
  min-height:350px;
}

#contatti {
  padding-top: 40px;
}

.input-field input[type=email]:focus {
 border-bottom: 1px solid #ec0026!important;
 box-shadow: 0 1px 0 0 #ec0026 !important;
}

.input-field .prefix.active {
     color: #ec0026;
   }


/** MEDIA QUERY **/

@media screen and (max-width: 992px) and (min-width:678px) {
  /*nav .brand-logo {
    width: 35%;
  }*/
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  div.card.col.m4.s12 {
    min-height:470px;
  }
}

@media screen and (max-width: 600px)  {
  div.card.col.m4.s12 {
    min-height:auto;
  }
}

@media screen and (max-width: 678px) {

  #video-box .video-wrap {
    width:100%;
  }

  #video-box .about-content {
    width: 80%;
  }
}

